<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Workout Manager</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button (click)="dismiss()" color="primary" size="small">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col class="ion-padding">
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Preencha o Exercício</ion-label>
            <ion-input [(ngModel)]="summary"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
          <ion-button [disabled]="!summary.length" round (click)="save()">Adicionar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
