<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Workout Manager</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="showAddModal()" color="primary" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item *ngIf="workouts.length">
    <ion-button fill="clear" slot="end" (click)="clearWorkouts()">limpar</ion-button>
  </ion-item>
  <ion-grid class="ion-margin-bottom">
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col class="ion-text-center ion-margin-bottom" size="12">
        <ion-list>
          <ion-item id="item-add" *ngIf="!workouts.length" (click)="showAddModal()">
            <ion-label><a>adicione um exercício</a></ion-label>
          </ion-item>
          <ion-item *ngFor="let workout of workouts">
            <ion-checkbox slot="start" (ionChange)="updateWorkout(workout)" [(ngModel)]="workout.done"></ion-checkbox>
            <ion-label>
              <h2>{{workout.summary}}</h2>
              <h3>séries: {{workout.setsNum}}</h3>
              <h3>repetições: {{workout.repeatsNum}}</h3>
            </ion-label>
            <ion-button fill="clear" rounded (click)="removeWorkout(workout)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>      
</ion-content>